.add-new-chat {
   display: flex;
   flex-direction: column;
   & input {
      margin: 5px 0;
   }
   &__buttons-container {
      display: flex;

      & button {
         margin-right: 10px;
      }
   }
}
