.chat-header {
   background-color: lightgray;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   font-weight: 600;
   height: 50px;
   &__buttons-container {
      display: flex;
      & button {
         margin-left: 10px;
      }
   }
}
